.topmenu.bar.menu {
  box-shadow: none;
  border: none;
  background-color: #F5F5F5;
}
.left{
  margin-left: 50px;
}
.fitted.dropdown{
  margin-right: 50px;
}
.grid{
  box-shadow: none;
  border: none;
  background-color: white;
}
.borderless.menu{
  box-shadow: none;
  border: none;
  background-color: white;
}
.text{
  color: black;
}
.footer {
  background-color: #292929;
  height: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.centerimage{
width: 100%;
  height: auto;
}
.column{
  background-color: #292929;
  color: white;

}
.facebook{

}
.xtrapad{
  margin-right: 3em;
}
.field{
  color: #F5F5F5;
}
