.topmenu.bar.menu {
  box-shadow: none;
  border: none;
  background-color: #F5F5F5;
}
.left{
  margin-left: 50px;
}
.fitted.dropdown{
  margin-right: 50px;
}
.grid{
  box-shadow: none;
  border: none;
  background-color: white;
}
.borderless.menu{
  box-shadow: none;
  border: none;
  background-color: white;
}
.text{
  color: black;
}
.black-background {
  background-color: #292929;
  height: 200px;
}
.centerimage{
width: 100%;
  height: auto;
}
